.about{
	.about_block{
		flex: 1;
		height: 300px;
		text-align: center;
		padding: .5em;
	}
	.about_img{
		width: 200px;
		height: 120px;
		margin: 1rem auto;
		img{
			width: 200px;
			height: 120px;
		}
	}
}
