.promo{
    width:100%;
    height: 500px;
    // background: url("../../codebase/img/code2.jpg") no-repeat center center;
    // background: url("code.jpg") no-repeat;
    &:before{
        content: "";
        filter: blur(8px);
        height: 500px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        background: url("../../codebase/img/code2.jpg") no-repeat center center;
        display: block;
    }
    .content{
        padding: 2em 4em;
        text-align: center;
    }
    .promo_header{
        font-size: 3rem;
        color:white;
    }
}